div > div {
	color: #18C4C4;
	font-family: arial;
	font-weight: 700;
	position: absolute;
	top: 120px;
	left: 630px;
}

.q1{
	background-color: #18C4C4;
}

.q2{
	background-color: #E26DED;
}

.q3{
	background-color: #46DB32;
}

.q4{
	background-color: #F79902;
}

.random{
	background-color: #0242F2;
}
